# Node / Dependencies
node_modules/
temp_node/

# Playwright Reports & Results
/test-results/
/playwright-report/
/blob-report/
/reports/
/playwright/.cache/
/playwright/.auth/

# Large local archive
Q0_Playwright_test.zip
